
  body{
    text-align: center;
    

  }


  form {
    

    display: inline-block;
    

    padding: 1em;
    border: 1px solid #c93737;
    border-radius: 1em;
    line-height: 2;
    width:500px;
  }


  label {
    /* To make sure that all label have the same size and are properly align */
    display: inline-block;
    width: 150px;
    text-align: left;

  }

  input
   {
    /* To make sure that all text field have the same font settings
       By default, textarea are set with a monospace font */
    font: 1em sans-serif;
  
    /* To give the same size to all text field */
    width: 150px;
  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }

  .book-card {
    border: 1px solid #ccc;
    width:150px;
    height:200px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.book-card p {
    margin: 0;
    font-family: Arial, sans-serif;
}




.delBook{
  width:50px;
  height:50px;
  margin-top: 50px;
  background-color: #3895cb;
}
 

.readButton1{
  width:50px;
  height:50px;
  margin-top: 50px;
  background-color:chartreuse;
}